<DOCTYPE! = html>
<html>
<head>
</head>
<body>
<h1 style="text-align: center;"><u>Yonatan's Homepage</u></h1>
<h2 style="text-align: center;">Welcome!</h2>
<hr>
<%=image_tag'flowers.jpg'%>
<!-- img src="~/rails_projects/alpha-blog/app/assets/images/flowers.jpg" alt="Flowers" width="600" height="233" class="center"-->	
<hr>
<div class="row">
  <div class="column1" style="background-color:#FDFFBD;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consectetur tempus nisl, vel dignissim nibh aliquet nec. Ut malesuada tortor nunc, quis sodales est ultrices eu. Integer metus sapien, malesuada et lobortis sed, pellentesque at lectus. Curabitur ac neque elementum, vehicula massa semper, pulvinar magna. Donec fermentum lobortis vulputate. In in risus placerat, scelerisque massa feugiat, sodales eros. Nullam accumsan diam quam, vitae pellentesque quam.</p>
  </div>
  <div class="column2" style="background-color:#FDFFBD;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at enim viverra odio congue accumsan eu congue massa. Maecenas lobortis mauris enim, eu facilisis erat congue at. Aenean consectetur nunc ligula, ut aliquet ex rutrum at. Sed cursus lacus eu velit rhoncus ornare. Aenean sed rhoncus nisl, id vulputate lacus. Curabitur sagittis ipsum est, sit amet suscipit lectus pretium nec. Fusce volutpat tempus leo, eu.</p>
  </div>
</div>
<hr>
<h3 style="text-align: center;"><i>123</i></h3>
<%= link_to 'About', pages_about_path %>
</body>
</html>